@import "@/app.scss";
.comment {
	
	&-num {
		box-sizing: border-box;
		width: 750upx;
		padding: 15upx 0;
		padding-left: 30upx;
		background: #f1f1f1;
		@include font(30upx, 40upx, $align: left, $color: #666);
	}
	
	&-box {
		padding: 30upx 20upx;
		background: #fefefe;
		
		&-content {
			width: 710upx;
			@include font(30upx, 40upx, $align: left, $color: #343131);
		}
		
		&-post-title {
			margin: 20upx 10upx;
			margin-bottom: 40upx;
			padding: 0 10upx;
			background: #f3f6f6;
			border-radius: 8upx;
			@include font(34upx, 50upx, $align: left, $color: #666);
		}
		
		&-bottom {
			@include row;
			width: 710upx;
			
			&-time {
				@include font(30upx, 35upx, $color: #a9a9a9);
			}
			
			&-operation {
				@include row;
			}
		}
	}
}